@use 'mixins' as *;
//Header
.header {
  width: 100%;
  background-color: var(--color-bg-secondary);
  &__container {
    @include flex-between;
    margin: 0 0 24px 16px;
    padding: 16px 0 0 0;
  }

  .header__divider {
    @include divider;
    margin: 0 20px;
  }
  .header__box {
    display: flex;
    align-items: center;
  }

  &__actions {
    display: flex;
    align-items: center;
    @include mobile {
      .header__action--call,
      .header__action--feedback,
      .header__action--profile {
        display: none;
      }
    }
  }

  @include tablet {
    .header__divider-right,
    .header__divider-left {
      margin-left: 0;
    }
  }

  .header__burger,
  .header__action {
    margin-right: 16px;
  }
}

@include desktop {
  .header__container,
  .header__shadow {
    display: none;
  }
}

.header__divider-left {
  @include mobile {
    display: none;
  }
}
