@use 'mixins' as *;

//Pricing
.pricing {
  @include mobile {
    .pricing__table {
      display: none;
    }
    .swiper-slide {
      margin: 16px 16px 35px 16px;
      padding: 16px 0 0 16px;
      width: 260px;
      height: 200px;
      border-radius: 6px;
      border: 1px solid #eaeaea;
      background: var(--color-bg-secondary);

      .pricing__card {
        font-size: var(--font-size-small);
        font-style: normal;
        font-weight: var(--font-weight-normal);
        line-height: 18px; /* 128.571% */
        letter-spacing: 0.2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
        padding-bottom: 16px;
      }

      .pricing__topic {
        color: var(--color-text-secondary);
        font-size: var(--font-size-small);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        line-height: 16px;
      }

      .pricing__button {
        color: var(--color-bg-secondary);
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: var(--font-weight-bold);
        line-height: 24px; /* 200% */
        letter-spacing: -0.15px;
        text-transform: uppercase;
        width: 119px;
        height: 32px;
        border-radius: 16px;
        background: var(--color-primary);
        span {
          font-size: 14px;
        }
        position: absolute;
        top: 150px;
        left: 120px;
      }
    }
    .swiper::after {
      content: "";
      width: 24px;
      height: 205px;
      background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
      position: absolute;
      right: 0;
      top: 14px;
      z-index: 100;
    }
    .pricing__note {
      margin: 0 16px;
      .pricing__commercial {
        display: flex;
        align-items: center;
        color: var(--color-text-primary);
        font-size: var(--font-size-base);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
        margin-bottom: 40px;
      }
    }
  }
  @include tablet-desktop {
    .pricing__slider-container {
      display: none;
    }
    .pricing__header {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 140px;
      margin: 31px 0 16px 40px;
      color: var(--color-text-secondary);
      font-size: var(--font-size-small);
      font-style: normal;
      font-weight: var(--font-weight-medium);
      line-height: 16px; /* 114.286% */
    }
    .pricing__row_box {
      margin: 0 24px 24px 24px;
    }
    .pricing__row {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 140px;
      background-color: var(--color-bg-secondary);
      padding: 23px 16px 23px 16px;
      border-radius: 6px;
      color: var(--color-text-primary);
      font-size: var(--font-size-small);
      font-style: normal;
      font-weight: var(--font-weight-normal);
      line-height: 18px; /* 128.571% */
      letter-spacing: 0.2px;
    }
    .pricing__button {
      color: var(--color-bg-secondary);
      text-align: center;
      font-size: 12px;
      font-style: normal;
      font-weight: var(--font-weight-bold);
      line-height: 24px; /* 200% */
      letter-spacing: -0.15px;
      text-transform: uppercase;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      background: var(--color-primary);
      span {
        font-size: 14px;
      }
    }
    .pricing__note {
      margin: 0 24px;
      .pricing__commercial {
        display: flex;
        align-items: center;
        color: var(--color-text-primary);
        font-size: var(--font-size-base);
        font-style: normal;
        font-weight: var(--font-weight-medium);
        line-height: 24px; /* 150% */
        letter-spacing: -0.2px;
        margin-bottom: 47px;
      }
    }
  }
  @include desktop {
    .pricing__header {
      margin: 31px 0 16px 56px;
    }
    .pricing__row_box {
      margin: 0 32px 32px 32px;
    }
    .pricing__note {
      margin: 0 32px;
      .pricing__commercial {
        margin-bottom: 50px;
      }
    }
  }
}
