@use 'mixins' as *;
//Services

.service__container,
.service__box,
.service__container-btn {
  @include flex-between;
}

.service__container-btn {
  display: none;
  @include desktop {
    display: flex;
    margin: 42px 30px 17px 0;
    font-size: var(--font-size-base);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
    p {
      padding: 0 8px 0 0;
    }
    .header__action--repair {
      padding: 0 32px 0 0;
    }
  }
}

.service__box {
  margin: 24px 0 16px 0;
  h1 {
    margin: 0 0 0 12px;
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: var(--font-weight-bold);
    line-height: 40px; /* 142.857% */
    letter-spacing: -0.6px;
  }
  @include tablet {
    margin: 24px 0 20px 0;
  }
  @include desktop {
    margin: 42px 0 16px 2px;
  }
}
.services__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
  padding: 24px 16px 24px 16px;
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: var(--font-weight-medium);
  line-height: 24px; /* 150% */
  letter-spacing: -0.2px;
  .services__tab--active {
    background-color: var(--color-bg-secondary);
    padding: 8px 10px;
    border-radius: var(--border-radius-small);
    border: 2px solid #b8ffec;
  }
}
.services__tabs::-webkit-scrollbar {
  display: none;
}
.services__tabs {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.services__info {
  @include mobile {
    .services__image-tablet,
    .services__image-desktop {
      display: none;
    }
  }

  @include tablet {
    display: flex;
    justify-content: space-between;

    .services__text {
      max-width: 340px;
    }
    .services__image-mobile,
    .services__image-desktop {
      display: none;
    }
  }
  @include desktop {
    display: flex;
    justify-content: space-between;
    .services__text {
      max-width: 540px;
    }
    .services__image-mobile,
    .services__image-tablet {
      display: none;
    }
  }
}

.services__text {
  margin: 0 16px;
  .services__text-1 {
    padding: 0 0 20px 0;
  }
  .services__text-2 {
    display: none;
  }
  @include tablet {
    margin: 0 20px;
    .services__text-2 {
      display: block;
      padding: 0 0 20px 0;
      span {
        display: none;
      }
    }
  }
  @include desktop {
    .services__text-2 {
      display: block;
      span {
        display: inline;
      }
    }
    .services__button {
      display: none;
    }
  }
}

.service--expanded {
  .services__text-2 {
    display: block; // Показываем .services__text-2 на всех устройствах
    span {
      display: inline; // Показываем span внутри .services__text-2
    }
  }
  .services__button {
    .image__btn {
      transform: rotate(180deg); // Поворачиваем иконку стрелки при раскрытии
    }
  }
}

.services__button {
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;
  .services__read-more {
    font-size: var(--font-size-base);
    font-style: normal;
    font-weight: var(--font-weight-medium);
    line-height: 24px; /* 150% */
    letter-spacing: -0.2px;
  }
}

.brands__shadow {
  margin: 20px 0 0 0;
}

.gradient {
  background: linear-gradient(270deg, #f8f8f8 0%, #fff 98.61%);
  @include mobile {
    max-height: 80px;
    flex-shrink: 0;
    padding: 16px;
  }
  @include tablet {
    max-height: 56px;
    flex-shrink: 0;
    padding: 16px 0 16px 24px;
  }
  @include desktop {
    max-height: 56px;
    flex-shrink: 0;
    padding: 16px 0 16px 32px;
  }
}

.title {
  @include title;
}
