@use 'mixins' as *;
//Brands

.brands {
  @include mobile {
    .brands__container_1,
    .brands__container_2 {
      display: none;
    }
    .swiper-slide {
      margin: 16px 16px 35px 16px;
      width: 240px;
      height: 72px;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid #eaeaea;
      background: #fff;
      align-content: center;
    }
    .swiper::after {
      content: "";
      width: 24px;
      height: 81px;
      background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
      position: absolute;
      right: 0;
      top: 12px;
      z-index: 100;
    }
    .brands__box {
      display: flex;
      justify-content: space-between;
      padding: 16px;
    }
  }

  @include tablet-desktop {
    .brands__swiper_container,
    .brands__container_box2 {
      display: none;
    }
    &--expanded {
      .brands__container_box2 {
        display: flex; // Показываем при добавлении класса brands--expanded

        flex-wrap: wrap;
        gap: 24px 16px;
        margin: 16px;
      }

      .brands__container_2 {
        .image__btn {
          transform: rotate(180deg); // Поворачиваем иконку стрелки вниз
        }
      }
    }

    .brands__container_box1 {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 16px;
      margin: 16px;
    }
    .brands__box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      width: 224px;
      height: 72px;
      border-radius: 6px;
      border: 1px solid #eaeaea;
      background: #fff;
    }

    .brands__container_2 {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0 0 0 16px;
    }
    .btn {
      font-size: var(--font-size-base);
      font-style: normal;
      font-weight: var(--font-weight-medium);
      line-height: 24px; /* 150% */
      letter-spacing: -0.2px;
    }
  }
  @include tablet {
    margin: 0 0 32px 0;
  }
  @include desktop {
    margin: 0 0 50px 0;
  }
}
