@use 'mixins' as *;

//Repair Types
.repair-types {
  @include mobile {
    .repair-types__flex,
    .repair-types__button {
      display: none;
    }

    .swiper-slide {
      margin: 16px 16px 35px 16px;
      padding: 16px 0 0 16px;
      width: 240px;
      height: 160px;
      border-radius: 6px;
      border: 1px solid #eaeaea;
      background: #fff;
      .repair-types__image {
        position: relative;
        left: 170px;
        top: 70px;
        cursor: pointer;
      }
    }

    .swiper::after {
      content: "";
      width: 24px;
      height: 166px;
      background: linear-gradient(270deg, #f8f8f8 16.84%, rgba(248, 248, 248, 0) 100%);
      position: absolute;
      right: 0;
      top: 12px;
      z-index: 100;
    }
  }
  @include tablet-desktop {
    .repair-types__slider-container,
    .repair-types__container_2 {
      display: none;
    }
    &--expanded {
      .repair-types__container_2 {
        display: flex; // Показываем при добавлении класса repair-types--expanded
        flex-wrap: wrap;
        gap: 24px;
        margin: 24px;
      }

      .repair-types__button {
        .image__btn {
          transform: rotate(180deg); // Поворачиваем иконку стрелки вниз
        }
      }
    }

    .repair-types__container_1 {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      margin: 24px;
    }
    .repair-types__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 240px;
      height: 160px;
      padding: 16px 0 0 16px;
      border-radius: 6px;
      border: 1px solid #eaeaea;
      background: #fff;

      .repair-types__image {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding: 16px;
        cursor: pointer;
      }
    }

    .repair-types__button {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 0 0 0 16px;
    }
    .btn {
      font-size: var(--font-size-base);
      font-style: normal;
      font-weight: var(--font-weight-medium);
      line-height: 24px; /* 150% */
      letter-spacing: -0.2px;
    }
  }
  @include tablet {
    margin: 0 0 32px 0;
  }
  @include desktop {
    margin: 0 0 50px 0;
  }
}
